.cards-container {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1em;
    max-height: 500px;
    overflow-y: auto;

  }
  
  .appointment-card {
    width: 200px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    background-color: #89CFF0;
    /* background-color: linear-gradient(45deg,#2190FF 2.34%,#b673f8 100.78%); */
  }
  
  .appointment-card__content {
    margin: 0;
    padding: 0;
  }
  
  .appointment-card__title {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .appointment-card__message {
    text-align: left;
    margin: 0;
    font-size: 14px;
  }

  .carousel-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px; 
    height: 300px; 
  }

  .carousel .control-dots {
    bottom: -10px;
  }
  .text-gradient {
    background: linear-gradient(45deg,#2190FF 2.34%,#b673f8 100.78%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}